# VS Code files
.vscode/*
.vscode/settings.json
.viscid/tasks.json
.vscode/launch.json
.vscode/extensions.json
*.code-workspace

# macOS
.DS_Store

# Jupyter
*checkpoint.*
.jupyter_symlinks

# Ignore pickles
*.pkl
*.pickle